# Data Science Tools and Ecosystem

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala
6. MATLAB

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala
6. MATLAB

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. scikit-learn
5. TensorFlow
6. Keras
7. PyTorch
8. StatsModels
9. Seaborn
10. Plotly

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. scikit-learn
5. TensorFlow
6. Keras
7. PyTorch
8. StatsModels
9. Seaborn
10. Plotly


| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Hadoop      |
| Apache Spark       |
| Tableau            |
| KNIME              |
| SAS                |
| Excel              |
| RapidMiner         |
| IBM Watson         |

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Hadoop      |
| Apache Spark       |
| Tableau            |
| KNIME              |
| SAS                |
| Excel              |
| RapidMiner         |
| IBM Watson         |

### Below are a few examples of evaluating arithmetic expressions in Python.

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [6]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

**Objectives:**

- List popular languages for Data Science
- Demonstrate evaluation of arithmetic expressions
- Convert minutes to hours in mixed fraction format
- Introduce Jupyter Notebooks and their usage
- Explore the key features and benefits of Jupyter Notebooks

**Objectives:**

- List popular languages for Data Science
- Demonstrate evaluation of arithmetic expressions
- Convert minutes to hours in mixed fraction format
- Introduce Jupyter Notebooks and their usage
- Explore the key features and benefits of Jupyter Notebooks

## Author

Krishnan Unni M

## Author

Krishnan Unni M